export VIRTUAL_ENV=$PWD/.venv

if [[ ! -d $VIRTUAL_ENV ]]; then
  uv sync
fi

PATH_add "$VIRTUAL_ENV/bin"
export VIRTUAL_ENV_PROMPT="($(basename $PWD)) "
export CONTAINER_NAME=clutter_base_devel
export MONGO_INITDB_ROOT_USERNAME=root
export MONGO_INITDB_ROOT_PASSWORD=rootpass
export DATABASE_NAME=clutter_base

export MONGO_INITDB_DATABASE=$DATABASE_NAME
export DB_USER=clutter_admin
export DB_PASS=clutter_pass
